*{
	margin: 0;
	padding: 0;
}



header{
    width: 100%;
    top: 100%;
}

.navegacion{
	width: 500px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #9c9494;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
    
	position: absolute;
	background: #333333;
	width: 120px;
	visibility: hidden;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	
}