body{
     /*Aqui se establece el fondo que no se repita y se centre en x, y ademas que se ajuste*/
     background: url(../ProyectoWeb/image/fondo.jpg) no-repeat center center fixed;
     background-size: cover;
}
/*Mover el contenedor hacia abajo*/
#main-section{
     margin: auto;
     margin-top: 25%;
     padding: 0;
}
/*Elevar el icono*/
.icono-usuario{
     margin-top: -50px;
     margin-bottom:35px;
}
/*Las propiedades de la imagen*/
.icono-usuario img{
     width: 100px;
     height: 100px;
     border-radius: 50%;
     box-shadow: 0px 0px 30px #848484
}
/*Propiedades del contenido modal*/
.modal-content{
     background-color: cadetblue;
     opacity: .95 ;
     box-shadow: 0px 0px 30px #848484;
}
/*fuente del texto del input y sus propiedades*/
.form-group input{
     height: 40px;
     font-size: 20px;
     border-radius: 5px;
     padding-left: 50px;
}